In [ ]:
import pandas as pd

# Read the EngineeringRanking_2022.csv file
data_2022 = pd.read_csv("EngineeringRanking_2022.csv")

# Read the EngineeringRanking.csv file
data_combined = pd.read_csv("EngineeringRanking1.csv")

# Merge the two dataframes based on the Institute ID column
merged_data = pd.merge(data_combined, data_2022, on="Institute Id", how="left")

# Save the merged data to a new CSV file
merged_data.to_csv("Merged_EngineeringRanking.csv", index=False)

In [ ]:
merged_data

,Institute Id,Institute Name_x,City_x,State,Score_21,Rank_21,TLR_21,RPC_21,GO_21,OI_21,...,Perception_16,Institute Name_y,City_y,Score,RANK_22,TLR_2022,RP_22,GO_22,OI_22,Perception_22
0,IR-E-U-0456,Indian Institute of Technology Madras,Chennai,Tamil Nadu,90.19,1.0,95.47,96.43,81.92,62.44,...,98.0,Indian Institute of Technology Madras,Chennai,90.04,1.0,94.61,97.66,80.42,62.85,100.00
1,IR-E-I-1074,Indian Institute of Technology Delhi,New Delhi,Delhi,88.96,2.0,91.76,95.82,80.97,66.39,...,98.0,"Indian Institute of Technology, Delhi",New Delhi,88.12,2.0,86.94,96.01,83.42,68.56,96.92
2,IR-E-U-0306,Indian Institute of Technology Bombay,Mumbai,Maharashtra,85.16,3.0,89.32,92.56,79.71,53.68,...,99.0,"Indian Institute of Technology, Bombay",Mumbai,83.96,3.0,87.53,90.82,79.19,57.37,88.70
3,IR-E-I-1075,Indian Institute of Technology Kanpur,Kanpur,Uttar Pradesh,83.22,4.0,86.71,83.13,89.79,55.96,...,98.0,Indian Institute of Technology Kanpur,Kanpur,82.56,4.0,87.95,79.98,89.70,59.47,83.01
4,IR-E-U-0573,Indian Institute of Technology Kharagpur,Kharagpur,West Bengal,82.03,5.0,80.51,88.59,83.01,58.46,...,97.0,"Indian Institute of Technology, Kharagpur",Kharagpur,78.89,5.0,79.21,84.60,80.91,53.08,82.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,IR17-ENGG-1-26228,C.V. Raman College of Engineering,Bhubneshwar,Odisha,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,IR17-ENGG-2-10476,"Maharashtra Institute of Technology, Pune",Pune,Maharashtra,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,IR17-ENGG-2-12411,Sri Sai Ram Engineering College,Chennai,Tamil Nadu,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,IR17-ENGG-2-12581,ST. Joseph's College of Engineering,Chennai,Tamil Nadu,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,IR17-ENGG-2-1-2810997882,K.S.Rangasamy College of Technology,Tiruchengode,Tamil Nadu,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Read the EngineeringRanking_2022.csv file
data_2023 = pd.read_csv("EngineeringRanking_2023.csv")

# Read the EngineeringRanking.csv file
data_combined = pd.read_csv("Merged_EngineeringRanking.csv")

# Merge the two dataframes based on the Institute ID column
merged_data = pd.merge(data_combined, data_2023, on="Institute Id", how="left")

# Save the merged data to a new CSV file
merged_data.to_csv("Merged_EngineeringRanking_Final.csv", index=False)

In [ ]:
merged_data1.columns

Index(['Institute Id', 'Institute Name_x', 'City_x', 'State_x', 'Score_21',
       'Rank_21', 'TLR_21', 'RPC_21', 'GO_21', 'OI_21', 'Perception_21',
       'Score_20', 'Rank_20', 'TLR_20', 'RPC_20', 'GO_20', 'OI_20',
       'Perception_20', 'Score_19', 'Rank_19', 'TLR_19', 'RPC_19', 'GO_19',
       'OI_19', 'Perception_19', 'Score_18', 'Rank_18', 'TLR_18', 'RPC_18',
       'GO_18', 'OI_18', 'Perception_18', 'Score_17', 'Rank_17', 'TLR_17',
       'RPC_17', 'GO_17', 'OI_17', 'Perception_17', 'Score_16', 'Rank_16',
       'TLR_16', 'RPC_16', 'GO_16', 'OI_16', 'Perception_16',
       'Institute Name_y', 'City_y', 'Score_x', 'RANK_22', 'TLR_2022', 'RP_22',
       'GO_22', 'OI_22', 'Perception_22', 'Institute Name', 'City', 'State_y',
       'Score_y', 'Rank', 'TLR', 'RPC', 'GO', 'OI', 'Perception'],
      dtype='object')

In [ ]:
import os
# Specify the folder where you want to save the CSV file
folder_path = "C:\\Users\\sarve\\OneDrive\\Desktop\\Sem-08\\RBl\\Final Project"

# Create the folder if it doesn't exist
if not os.path.exists(folder_path):
    os.makedirs(folder_path)

# Define the file path for the merged CSV file
file_path = os.path.join(folder_path, "Merged_EngineeringRanking_Final.csv")

# Save the merged data to a CSV file in the specified folder
merged_data.to_csv(file_path, index=False)

In [1]:
import pandas as pd

# Load the dataset
data = pd.read_csv("EngineeringRanking_Final.csv")

# Assuming 'Institute Id' is the unique identifier for each institute
institute_ids = data['Institute Id'].unique()

# Initialize a dictionary to store predictions
predictions = {}

# Loop through each institute
for id in institute_ids:
    # Extract data for the current institute
    institute_data = data[data['Institute Id'] == id]

    # Filter out non-numeric values from rank columns
    rank_columns = ['Rank_21', 'Rank_22', 'Rank_23']
    numeric_rank_data = institute_data[rank_columns].apply(pd.to_numeric, errors='coerce')

    # Calculate average rank change from 2016 to 2023
#     rank_change = numeric_rank_data.mean(axis=1) - numeric_rank_data['Rank_16']
    rank_change = numeric_rank_data.mean(axis=1)

    # Predict the rank for 2024 based on average change
    last_rank_2023 = numeric_rank_data['Rank_23'].iloc[-1]
    predicted_rank_2024 = last_rank_2023 + rank_change.iloc[-1]

    # Store the prediction for the current institute
    predictions[id] = predicted_rank_2024

# Create a DataFrame from the predictions dictionary
df = pd.DataFrame(predictions.items(), columns=['Institute Id', 'Predicted Rank'])

# Save the DataFrame to an Excel file
df.to_excel("predicted_ranks.xlsx", index=False)

In [3]:
import os
# Specify the folder path to save the Excel file
folder_path = "C:\Users\sarve\OneDrive\Desktop\Sem-08\RBl\Final Project\PredictedRanks"

# Check if the folder exists, if not, create it
if not os.path.exists(folder_path):
    os.makedirs(folder_path)

# Save the DataFrame to an Excel file in the specified folder
file_path = os.path.join(folder_path, "predicted_ranks.xlsx")
df.to_excel(file_path, index=False)

print("Excel file saved to:", file_path)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (494597782.py, line 3)